@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap');

:root{
  --bleu: #152437;
  --blanc: white;
  --gris: #AEACAB;
}

/* Reset */
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background-color:var(--blanc);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

/* Container Principal */
.cv_SOUKOUNA {
    margin: 20px auto;
    width: 210mm; /* Largeur A4 */
    min-height: 297mm; /* Hauteur A4 */
    background: var(--blanc);
    display: flex;
    flex-direction: column; /* CRUCIAL : Met le header AU-DESSUS du reste */
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}


/* HEADER (BANDE BLEU) */

header{
    background-color: var(--bleu);
    color: var(--blanc);
    display: flex; /* Aligne photo et texte horizontalement */
    align-items: center; /* Centre verticalement */
    justify-content: center; /* Centre l'ensemble dans la bande */
    padding: 20px;
    width: 100%;
}

.photo-container {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 30px 0 0; /* Marge à droite pour espacer du texte */
    overflow: hidden;
    border: 5px solid var(--blanc);
    flex-shrink: 0; /* Empêche la photo de s'écraser */
}

.photo-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: 2;
}
.main-wrapper {
    display: flex; /* Aligne l'aside et la div-principal horizontalement */
    flex-grow: 1;  /* Remplit tout l'espace restant en hauteur */
    width: 100%;
}
/* La couté gauche */
aside {
    width: 35%;
    background-color: var(--gris);
    padding: 30px;
    margin-left: 0; /* Permet d'enlève la marge pour coller au bord */

    h3 {
        font-size: 1rem;
        color: var(--blanc);
        border-bottom: 2px solid var(--blanc);
        margin-bottom: 15px;
        padding-bottom: 20px;
        margin-top: 30px;
    }
    ul li {
        font-size: 9px;
        margin-bottom: 10px;
        color: var(--blanc);
        display: flex;
        align-items: center;
        letter-spacing: 2px;
    }
    ul li i {
        margin-right: 10px;
        color: var(--blanc) ;
    }
}


/* Contenu Principal Droite */
.div-principal{
    width: 65%;
    background-color: var(--blanc);
    padding: 30px;
    display: flex;
    flex-direction: column;
    position: relative;
}

